:root{
    background-color: #cfcbcbc7;

}

header img {
    position:relative;
    top: 0vw;
    left: 20vw;
    width: 60vw;
    height: 30vw;
}

header h1{
    display: flex;
    justify-content: space-evenly;
    
}


nav {
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0vw 0vw 0vw 25vw;
}